/**logo e pattern sfondo**/
header {
    position: relative;
    background-color: rgb(66, 150, 188);
    height: 150px; 
    width: 100%;
}


.background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-image: url('pattern.png');
    background-size: contain; 
    z-index: 0; 
}

.logo {
    position: absolute;  
    bottom: 0;           
    left: 0;             
    width: 150px;        
    height: auto;        
    z-index: 1;          
}


body {
    
    font-family: "times new roman", sans-serif;
    
}
 

.testa-pagina {
    line-height: 0.9; 
   
}


 .titolo{
    font-size: 36px;       
    font-weight: bold; 
    margin-bottom: 0px; 
    
}
/**sottotilo**/
.sottotitolo {
    margin-top: 0px; 
    color: rgba(143, 145, 145, 0.999);
    font-weight: bold;
}

.fake-link {
    text-decoration: none;  
    color: rgb(0, 153, 255);  
    cursor: pointer;  
}
/**foto Tim**/
.descrizione1, .descrizione2 {
    margin-top: 0px; 
    margin-bottom: 0%;
    
}

.evidenziato {
    background-color: yellow; 
}

ul {
    padding-left: 1%;
}

/**tabella**/
.Tabella td:nth-child(1), .Tabella th:nth-child(1) {
    width: 300px;  
}

.Tabella td:nth-child(2), .Tabella th:nth-child(2) {
    width: 300px; 
}


.Tabella th, .Tabella td {
    padding: 10px;
    text-align: left; 
}

.testa th {
    background-color:rgb(66, 150, 188); 
    color: white;
    
}


.riga1 td, .riga3 td{
    background-color:rgb(99, 199, 233); 
}
 /**finale**/
.titolo-finale {
    margin-top: 0px; 
    color: rgba(143, 145, 145, 0.999);
    font-weight: bold 
}


.container {
    position: relative;  
}

.testo-immagine {
    position: absolute;  
    top: 10%;            
    left: 8%;
    transform: translate(-50%, -50%); 
    color: white;       
    font-size: 25px;    
    z-index: 1;            
  
}
